use std::sync::{Arc, Mutex, MutexGuard};

use k2_stream::processors::{ProcessorBlockTrait, ProcessorHeader, ProcessorTrait, StreamBlock, StreamState};
use k2_stream::memory::{DataHeader, MemoryTrait};
use memory_macro::K2Memory;
use processor_macro::K2ProcessorBlock;