impl {} {{
    pub fn new(name: String) -> Result<Self, ()> {
        let mut ret = Self {
            name: name.clone(),
            header: ProcessorHeader {
                proc_name: {},
                description: {},
                version: {},
                author: {},
                email: {},
                license: {},
                repository: {},
            },
            stream_block: StreamBlock::new(),
            state: Arc::new(Mutex::new(StreamState::Initialized)),
        