impl ProcessorTrait for @processor {
    fn new(name: String) -> ProcessorNewReturn {
        let mut self_instance = Self {
            name: name.clone(),
            header: ProcessorHeader {
                proc_name: "@processor".to_string(),
                description: "@description".to_string()},
                version: "@version".to_string(),
                author: "@author".to_string(),
                email: "@email".to_string(),
                license: "@licence".to_string(),
                repository: "@repository".to_string(),
            },
            stream_block: StreamBlock::new(),
            state: Arc::new(Mutex::new(StreamState::Uninitialized)),
