use std::sync::{Arc, Mutex, MutexGuard};

use k2stream::processor::processors::{ProcessorBlockTrait, ProcessorHeader, ProcessorNewReturn, ProcessorTrait, StreamBlock, StreamState};
use k2stream::{errors::{K2ErrorCode, K2Error}, processor::memory::{DataHeader, MemoryTrait}};
use memory_macro::K2Memory;
use processor_macro::K2ProcessorBlock;